<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <main>
        <section>
            <h2>404</h2>
            <p>Oops we broke the internet <br> This is not your fault but ours</p>
        </section>
        <section> 
        </section>
    </main>
    <%- include('./partials/footer') %>