<form method="POST" action="/bedankt">
    <label> your name
        <input type="text" name="fname" required>
    </label>
    <label> your email
        <input type="text" name="email" required>
    </label>
    <input type="submit" value="Give my my nerdy shirt">
</form>

