<header>
    <nav>
        <ul>
            <li><a tabindex="0" href="/">Home</a></li>
            <li><a tabindex="0" href="/mydesigns">my designs</a></li>
            <li><a tabindex="0" href="/cart">shopping cart</a></li>
        </ul>
    </nav>
</header>